<br/>
<br/><br/>
<br/>
<br/>
hello
<% form_for(:user, :url => users_edit_path) do |f| %>
<%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "New password" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Change my password" %></div>
<% end %>