<% @page_title = "UserAuth | Signup" %>
<div>
  <h1>Sign Up</h1>  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
   <p> Username:</br> <div class="four"> <%= f.text_field :username%> </div></p> 
    <p> Password:</br> <%= f.password_field :password%></p>
    <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
   <%= f.submit :Signup %>
  <% end %>
  
</div>