
<%= form_for @user do |f| %>

<div id="image_b"><%= image_tag("background.jpg", :alt => "rss feed", :height => "50em") %></div>

<div id="sign_up">

  <div class="small-3 columns">
    
    <%= image_tag("signup.jpg", :alt => "rss feed") %>
    <br/>
    <%= f.text_field :username, placeholder: "Username" %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.password_field :password_confirmation, placeholder: "Re-type Password" %>
    <%= f.submit "Create Account" ,:class => 'button tiny expand' %>
  </div>


    <% end %> 
</div>